<div class="container bg-danger p-3 m-5  rounded" id="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" id="idCliente" formControlName="idCliente">
        </div>
        <div class="mb-3">
            <label class="form-label">Correo</label>
            <input type="text" class="form-control" id="correoCliente" formControlName="correoCliente">
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreCliente" formControlName="nombreCliente">
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellidoCliente" formControlName="apellidoCliente">
        </div>
        <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefonoCliente" formControlName="telefonoCliente">
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="contrasenaCliente" formControlName="contrasenaCliente">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="Guardar">Guardar</button>
        </div>      
    </form>
</div>
